# 16 FEB ASSIGNMENT

# 1

### A database is a collection of data that is organized in a way that allows efficient storage, retrieval, and manipulation of that data. Databases can be used to store information such as customer records, product catalogs, financial transactions, or any other type of data that needs to be managed and accessed.

### SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases that differ in their approach to data storage and retrieval:

### SQL Databases:
### SQL databases are relational databases that store data in tables with columns and rows, and use SQL to manipulate and query the data. SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) compliance, which ensures that transactions are processed reliably and consistently. SQL databases are widely used in enterprise applications, financial systems, and other data-intensive applications that require high levels of data consistency and reliability.
### Examples of SQL databases include MySQL, Oracle, PostgreSQL, and Microsoft SQL Server.

### NoSQL Databases:
### NoSQL databases are non-relational databases that store data in a variety of formats, including key-value pairs, document-oriented databases, column-family stores, and graph databases. NoSQL databases are designed to scale horizontally and can handle large volumes of data and high levels of traffic. NoSQL databases are known for their flexibility and ability to handle unstructured data, but they may sacrifice some data consistency and reliability for performance.
### Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

In [2]:
# 2

### DDL stands for Data Definition Language
### 1
#### CREATE: The CREATE statement is used to create a new database object, such as a table, index, or constraint. For example, the following statement creates a new table called "employees":
#### CREATE TABLE employees (
####   id INT PRIMARY KEY,
####   name VARCHAR(50),
####   salary DECIMAL(10,2)
#### );
#### DROP: The DROP statement is used to delete an existing database object, such as a table, index, or constraint. For example, the following statement drops the "employees" table:
#### DROP TABLE employees;
#### ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table, column, or constraint. For example, the following statement adds a new column called "age" to the "employees" table:
#### ALTER TABLE employees ADD COLUMN age CHR;
#### TRUNCATE: The TRUNCATE statement is used to delete all rows from an existing table, while keeping its structure intact. For example, the following statement removes all rows from the "employees" table:\
#### TRUNCATE TABLE employees;

# 3

#### DML stands for Data Manipulation Language, which is a category of SQL commands used to manipulate and interact with the data stored in a database. DML statements are used to add, modify, and delete data within a database.
#### INSERT: The INSERT statement is used to add new data to a database table. For example, the following statement inserts a new row into the "employees" table:
#### INSERT INTO employees (id, name, salary) VALUES (1, 'RAHUL', 2350000.00);
#### UPDATE: The UPDATE statement is used to modify existing data in a database table. For example, the following statement updates the "salary" of the employee with an "id" of 1 in the "employees" table:
#### UPDATE employees SET salary = 55000.00 WHERE id = 1;
#### DELETE: The DELETE statement is used to remove data from a database table. For example, the following statement deletes the row for the employee with an "id" of 1 in the "employees" table: abs
#### DELETE FROM employees WHERE id = 1;

# 4

#### DQL stands for Data Query Language, which is a category of SQL commands used to retrieve and query data from a database. DQL statements are used to retrieve data from one or more tables in a database.
#### SELECT * FROM employees WHERE salary > 50000;
#### SELECT: This keyword indicates that we want to retrieve data from the specified columns in the specified table(s).
#### *: This symbol indicates that we want to retrieve all columns from the specified table(s). Alternatively, we could list specific column names instead of using the * symbol.
#### FROM: This keyword indicates the table(s) from which we want to retrieve data.
#### employees: This is the name of the table from which we want to retrieve data.
#### WHERE: This keyword indicates that we want to apply a condition to the data that we retrieve.
#### salary > 50000: This is the condition that we want to apply to the data that we retrieve. In this case, we want to retrieve only those rows where the "salary" column is greater than 50000.

# 5

#### Primary Key:A primary key is a column or set of columns in a database table that uniquely identifies each row in that table. Primary keys are used to enforce the integrity of the data in a table, and they ensure that each row in the table is uniquely identifiable.
#### For example, in a table of "employees", the "id" column could be designated as the primary key. Each employee would have a unique "id" value, and this value would be used to identify that employee in other tables within the database.

#### Foreign Key: A foreign key is a column or set of columns in a database table that refers to the primary key of another table. The purpose of a foreign key is to link two tables together, allowing data to be retrieved from multiple tables at once.
#### For example, in a database with separate tables for "employees" and "departments", the "department_id" column in the "employees" table could be designated as a foreign key. This column would refer to the primary key of the "departments" table, which would allow data to be retrieved about both the employee and the department to which they belong.

In [6]:
# 6

In [11]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="py"
)

#### cursor(): The cursor() method is used to create a cursor object, which is used to execute SQL commands and retrieve data from a database. This method is typically called on a database connection object.
#### execute(): The execute() method is used to execute SQL commands on a database using a cursor object. This method takes an SQL command as an argument, and returns a result set if applicable.

In [15]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="py"
)

cursor=mydb.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS employees (id INT PRIMARY KEY,name VARCHAR(50),salary DECIMAL(10,2));")  # USed to execute the SQL commands 
mydb.commit()  # Is used to save the changes which have been through the execute method in to the database  
mydb.close()

# 6

### In a SQL query, the order of execution of the SQL clauses is as follows:
#### 1.FROM: This clause specifies the table or tables from which the data will be retrieved.
#### 2.JOIN: This clause is used to combine data from two or more tables.
#### 3.WHERE: This clause is used to filter the data based on a specific condition.
#### 4.SELECT: This clause is used to select the columns that will be retrieved from the table(s).
#### 5.GROUP BY: This clause is used to group the data based on one or more columns.
#### 6.LIMIT: This clause is used to limit the number of rows returned by the query.
#### 7.HAVING: This clause is used to filter the grouped data based on a specific condition.
#### 8.DISTINCT: This clause is used to remove duplicate rows from the result set.
#### 9.ORDER BY: This clause is used to sort the data based on one or more columns.